In [3]:
import pandas as pd
import numpy as np

In [4]:
N=160
b=[[np.pi] for i in range(N)]

A = []
for i in range(N):
    column = []
    i+=1
    for j in range(N):
        j+=1
        if j==i:
            column.append(2*i)
        elif j==i+2 or j==i-2:
            column.append(0.5*i)
        elif j==i+4 or j==i-4:
            column.append(0.25*i)
        else:
            column.append(0)
    A.append(column)

In [5]:
def SOR_method(A,b,omega,Tol):
    
    num = 0
    ite = 0
    x = [[0] for i in range(len(b))]  # initial guess
    error=[]
    
    # Gauss-Seidel
    while True:

        x_compare = x
        new_x = []
        
        # every column
        for i in range(len(A)):

            new=0
            
            # derives the form (x and others are at LHS, RHS,respectively)
            if A[i][i] != 0 :

                for j in range(len(A[i])):
                    if j < i:
                        new -= A[i][j] * new_x[j][0]
                    elif j > i:
                        new -= A[i][j] * x[j][0]
                    else:
                        pass
            if i!=0:  
                new_x.append([(new + b[i][0]) / A[i][i] * omega])
            else:
                new_x.append([(new + b[i][0]) / A[i][i] * omega + (1-omega) * x[j][0]])
        
        # Tol
        x = new_x

        for k in range(len(x)):
            ll=[]
            ll.append(abs([ j for i in x_compare for j in i][k] - [ j for i in x for j in i][k]))
            num = max(ll)

        if ite!=0:
            num /= max([ abs(j) for i in x_compare for j in i])

        ite+=1
        error.append(round(num,7))
        if num < Tol:
            print('總共迭代了%d次' % (ite-1))
            return x,ite,error  # x
            break

In [6]:
s=[]
for i in [0.6,0.8,1.0,1.2,1.4]:
    x,ite,error = SOR_method(A,b,i,1e-6)
    df = pd.DataFrame(index=['$$||\cdot||_\infty$$'],columns=[k for k in range(ite)])
    for j in range(ite):
        df[j] = error[j]
    df.columns.name='$$\omega={name}$$ite'.format(name=i)
    s.append(df)
    print(error)

總共迭代了3次
[0.0047937, 0.000153, 3.2e-06, 3e-07]
總共迭代了3次
[0.006018, 0.0002357, 1.19e-05, 2e-07]
總共迭代了4次
[0.0071072, 0.000321, 2.8e-05, 1.2e-06, 3e-07]
總共迭代了4次
[0.0080824, 0.0004052, 5.23e-05, 5.4e-06, 0.0]
總共迭代了5次
[0.0089607, 0.0004858, 8.43e-05, 1.41e-05, 1.7e-06, 2e-07]

In [7]:
s[0]

$$\omega=0.6$$ite            0         1         2             3
$$||\cdot||_\infty$$  0.004794  0.000153  0.000003  3.000000e-07

In [8]:
s[1]

$$\omega=0.8$$ite            0         1         2             3
$$||\cdot||_\infty$$  0.006018  0.000236  0.000012  2.000000e-07

In [9]:
s[2]

$$\omega=1.0$$ite            0         1         2         3             4
$$||\cdot||_\infty$$  0.007107  0.000321  0.000028  0.000001  3.000000e-07

In [10]:
s[3]

$$\omega=1.2$$ite            0         1         2         3    4
$$||\cdot||_\infty$$  0.008082  0.000405  0.000052  0.000005  0.0

In [11]:
s[4]

$$\omega=1.4$$ite,0,1,2,3,4,5
$$||\cdot||_\infty$$,0.008961,0.000486,0.000084,0.000014,0.000002,2.000000e-07